body {
    font-family: 'Open Sans', sans-serif;
    background: #fffffe;
}

h1 {
    float: left;
    color: #272343;
    font-size: 58px;
    font-weight: 700;
    margin-top: 72px;
    margin-bottom: 36px;
}

h2 {
    float: left;
    width: 100%;    
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
}

p {
    float: left;
    width: 100%;    
    color: #2d334a;
    margin-bottom: 16px;
}

.container {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 32px;
    margin: 0 auto;
}

.row {
    float:left;
    width: 100%;
}

.half {
    float:left;
    width: 50%;
}

.option-buttons {
    margin-top: 32px;
}

.option-buttons > .button {
    float: left;
    width: 100%;
    max-width: 100px;
    line-height: 32px;
    border: solid 2px #2b2c34;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-right: 16px;
    text-align: center;
    cursor: pointer;    
}

.option-buttons > .button.active {
    background: #2b2c34;
    color: #fff;
}

.view-on-github {
    float: left;
    height: 22px;
    color:#2b2c34;
}

.view-on-github img {
    float: left;
    height: 22px;
}

.view-on-github div {
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 8px;
}