// Basic layer container styles
.layers-container {
    position: relative;
    float:left;
    width: 450px;
    height: 500px;

    & > img, & > .layer {
        position: absolute;   
        left: 0;
        width: 100%;
        height: 100%;    
    }
}

// Generated shapes (still in development)
.layers-container > .layer > .generated-shape {
    position: relative;
    background: #2b2c34;
    width: 300px;
    height: 300px;
    font-size: 60px;
    text-align: center;
    line-height: 318px;
    transform-origin: top left;
    transform: rotateX(54deg) rotate(-45deg) translate(-170px, 187px);  

    &.with-inner-shapes {
        background: none;

        > .inner-shape {
            float: left;
            width: 100%;
            height: calc(50% - 8px);
            line-height: 164px;
            margin-bottom: 16px;
            background: #2b2c34;
            position: relative;
        }
    }  

    .border {
        &.border-bottom {
            width: 100%;
            height: 10px;
            background: #000;
            bottom: -10px;
            position: absolute;
            transform: skewX(-45deg);
            transform-origin: top left;
        }
        &.border-left {
            width: 10px;
            height: 100%;
            background: #000;
            left: -10px;
            top: 10px;
            position: absolute;
            transform: skewY(-45deg);
            transform-origin: top left;
        }
    }
}

// Animation: none
.layers-container.animate-none {
    > img, > .layer {            
        display: none;        
        &.visible {            
            display: block;        
        }
    }    
}

// Animation: fade
.layers-container.animate-fade {
    > img, > .layer {            
        opacity: 0;
        transition: opacity .5s;
        &.visible {            
            opacity: 1;
        }
    }    
}

// Animation: fade up
.layers-container.animate-fade-up {
    > img, > .layer {    
        top: -16px;
        opacity: 0;
        transition: opacity .5s, top .5s;
        &.visible {
            top: 0;
            opacity: 1;
        }
    }    
}

// Animation: fade right
.layers-container.animate-fade-right {
    > img, > .layer {    
        left: 16px;
        opacity: 0;
        transition: opacity .5s, left .5s; 
        &.visible {
            left: 0;
            opacity: 1;
        }
    }    
}

// Animation: fade down
.layers-container.animate-fade-down {
    > img, > .layer {    
        top: 16px;
        opacity: 0;
        transition: opacity .5s, top .5s;
        &.visible {
            top: 0;
            opacity: 1;
        }
    }    
}

// Animation: fade left
.layers-container.animate-fade-left {
    > img, > .layer {    
        left: -16px;
        opacity: 0;
        transition: opacity .5s, left .5s; 
        &.visible {
            left: 0;
            opacity: 1;
        }
    }    
}