// Basic layer container styles
.layers-container {
    position: relative;
    float:left;
    width: 450px;
    height: 500px;

    & > img, & > .layer {
        position: absolute;   
        left: 0;
        width: 100%;
        height: 100%;    
    }
}

// Generated shapes
.layers-container > .layer > .generated-shape-container {
    position: relative;
    width: 300px;
    height: 300px;    
    transform-origin: top left;
    transform: rotateX(54deg) rotate(-45deg) translate(-170px, 187px);  

    font-size: 60px;
    line-height: 318px;
    text-align: center;
    margin: -8px;   
    box-sizing: border-box;
}

.layers-container > .layer .generated-shape {    
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    background: #2b2c34;
    color: #000;
    margin: 8px;   

    &.half {
        width: calc(100% - 16px);
        height: calc(50% - 16px);

        line-height: 138px;      
        font-size: 46px;
    }

    &.quarter {
        width: calc(50% - 16px);       
        height: calc(50% - 16px);

        line-height: 138px;
        font-size: 46px;
    }

    > .border {
        &.border-bottom {
            width: 100%;
            height: 12px;
            background: #000;
            bottom: -12px;
            position: absolute;
            transform: skewX(-45deg);
            transform-origin: top left;
        }
        &.border-left {
            width: 12px;
            height: 100%;
            background: #000;
            left: -12px;
            top: 12px;
            position: absolute;
            transform: skewY(-45deg);
            transform-origin: top left;
        }
    }
}

// Animation: none
.layers-container.animate-none {
    > img, > .layer {            
        display: none;        
        &.visible {            
            display: block;        
        }
    }    
}

// Animation: fade
.layers-container.animate-fade {
    > img, > .layer {            
        opacity: 0;
        transition: opacity .5s;
        &.visible {            
            opacity: 1;
        }
    }    
}

// Animation: fade up
.layers-container.animate-fade-up {
    > img, > .layer {    
        top: -16px;
        opacity: 0;
        transition: opacity .5s, top .5s;
        &.visible {
            top: 0;
            opacity: 1;
        }
    }    
}

// Animation: fade right
.layers-container.animate-fade-right {
    > img, > .layer {    
        left: 16px;
        opacity: 0;
        transition: opacity .5s, left .5s; 
        &.visible {
            left: 0;
            opacity: 1;
        }
    }    
}

// Animation: fade down
.layers-container.animate-fade-down {
    > img, > .layer {    
        top: 16px;
        opacity: 0;
        transition: opacity .5s, top .5s;
        &.visible {
            top: 0;
            opacity: 1;
        }
    }    
}

// Animation: fade left
.layers-container.animate-fade-left {
    > img, > .layer {    
        left: -16px;
        opacity: 0;
        transition: opacity .5s, left .5s; 
        &.visible {
            left: 0;
            opacity: 1;
        }
    }    
}