.layers-container {
  position: relative;
  float: left;
  width: 450px;
  height: 500px;
}

.layers-container > img, .layers-container > .layer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.layers-container > .layer > .generated-shape {
  position: relative;
  background: #2b2c34;
  width: 300px;
  height: 300px;
  font-size: 60px;
  text-align: center;
  line-height: 318px;
  transform-origin: top left;
  transform: rotateX(54deg) rotate(-45deg) translate(-170px, 187px);
}

.layers-container > .layer > .generated-shape.with-inner-shapes {
  background: none;
}

.layers-container > .layer > .generated-shape.with-inner-shapes > .inner-shape {
  float: left;
  width: 100%;
  height: calc(50% - 8px);
  line-height: 164px;
  margin-bottom: 16px;
  background: #2b2c34;
  position: relative;
}

.layers-container > .layer > .generated-shape .border.border-bottom {
  width: 100%;
  height: 10px;
  background: #000;
  bottom: -10px;
  position: absolute;
  transform: skewX(-45deg);
  transform-origin: top left;
}

.layers-container > .layer > .generated-shape .border.border-left {
  width: 10px;
  height: 100%;
  background: #000;
  left: -10px;
  top: 10px;
  position: absolute;
  transform: skewY(-45deg);
  transform-origin: top left;
}

.layers-container.animate-none > img, .layers-container.animate-none > .layer {
  display: none;
}

.layers-container.animate-none > img.visible, .layers-container.animate-none > .layer.visible {
  display: block;
}

.layers-container.animate-fade > img, .layers-container.animate-fade > .layer {
  opacity: 0;
  transition: opacity .5s;
}

.layers-container.animate-fade > img.visible, .layers-container.animate-fade > .layer.visible {
  opacity: 1;
}

.layers-container.animate-fade-up > img, .layers-container.animate-fade-up > .layer {
  top: -16px;
  opacity: 0;
  transition: opacity .5s, top .5s;
}

.layers-container.animate-fade-up > img.visible, .layers-container.animate-fade-up > .layer.visible {
  top: 0;
  opacity: 1;
}

.layers-container.animate-fade-right > img, .layers-container.animate-fade-right > .layer {
  left: 16px;
  opacity: 0;
  transition: opacity .5s, left .5s;
}

.layers-container.animate-fade-right > img.visible, .layers-container.animate-fade-right > .layer.visible {
  left: 0;
  opacity: 1;
}

.layers-container.animate-fade-down > img, .layers-container.animate-fade-down > .layer {
  top: 16px;
  opacity: 0;
  transition: opacity .5s, top .5s;
}

.layers-container.animate-fade-down > img.visible, .layers-container.animate-fade-down > .layer.visible {
  top: 0;
  opacity: 1;
}

.layers-container.animate-fade-left > img, .layers-container.animate-fade-left > .layer {
  left: -16px;
  opacity: 0;
  transition: opacity .5s, left .5s;
}

.layers-container.animate-fade-left > img.visible, .layers-container.animate-fade-left > .layer.visible {
  left: 0;
  opacity: 1;
}
